@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  box-sizing: border-box;
}

h1 {
  background-color: orange;
  margin-bottom: 0;
  margin-top: 20px;
}

h1 + p {
  margin-top: 0;
}

body {
  background-color: #7ed6df;
  text-align: center;
  margin: 0;
}

form {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 30px 20px;
  display: block;
  max-width: 450px;
  min-height: 30px;
  margin: 0 auto;
  background-color: white;
}

.form-control {
  margin-bottom: 20px;
  font-size: 15x;
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 6px;
}
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  padding: 10px;
  display: block;
  width: 100%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 8px;
}

button {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 2px;
  display: block;
  padding: 10px;
  width: 100%;
}
